<%@ Register TagPrefix="cc2" Namespace="Made4Net.Mobile.WebCtrls" Assembly="Made4Net.Mobile" %>
<%@ Register TagPrefix="cc1" Namespace="WMS.MobileWebApp.WebCtrls" Assembly="WMS.MobileWebApp" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="LoginHQT.aspx.vb" Inherits="WMS.MobileWebApp.LoginHQT"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>LoginHQT</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<div align="center">
			<form id="Form1" method="post" runat="server">
				<cc1:Screen id="Screen1" runat="server" NoLoginRequired="True"></cc1:Screen>
				<P>
				<cc2:dataobject id="DO1" runat="server" RightButtonText="MHTypeSelect" title="MHType Select"></cc2:dataobject>
				</P>
			</form>
		</div>
	</body>
</html>
