<%@ Register TagPrefix="cc1" Namespace="WMS.MobileWebApp.WebCtrls" Assembly="WMS.MobileWebApp" %>
<%@ Register TagPrefix="cc3" Namespace="Made4Net.WebControls" Assembly="Made4Net.WebControls" %>
<%@ Register TagPrefix="cc2" Namespace="Made4Net.Mobile.WebCtrls" Assembly="Made4Net.Mobile" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CONSDELPRN.aspx.vb" Inherits="WMS.MobileWebApp.CONSDELPRN" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Consolidation Delivery Tasks</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<div align="center"><cc1:screen id="Screen1" title="Consolidation Print Task" runat="server" ScreenID="rdtcondelprn"></cc1:screen></div>
			<DIV align="center" width="100%"><cc2:dataobject id="DO1" title="Consolidation Print Task" runat="server" RightButtonText="Menu"
					LeftButtonText="Next" CenterButtonText="Skip"></cc2:dataobject></DIV>
		</form>
	</body>
</HTML>
