﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="EPODGEN.aspx.vb" Inherits="WMS.MobileWebApp.EPODGEN1" %> 
<%@ Register TagPrefix="cc1" Namespace="WMS.MobileWebApp.WebCtrls" Assembly="WMS.MobileWebApp" %>
<%@ Register TagPrefix="cc2" Namespace="Made4Net.Mobile.WebCtrls" Assembly="Made4Net.Mobile" %>
<%@ Register TagPrefix="cc3" Namespace="Made4Net.WebControls" Assembly="Made4Net.WebControls" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>    
</head>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<div align="center">im <cc1:screen id="epodgen" runat="server" title="Create Epod" ScreenID="epodgen"></cc1:screen></div>
			<DIV align="center" id="test" width="100%">
			    <cc2:dataobject id="DO1" runat="server" RightButtonText="Close" LeftButtonText="Next" title="Create Epod" centerLeftButtonText="CsvRegenerate"  centerbuttontext="Menu"></cc2:dataobject>
			</DIV>
		</form>
	</body>
</html>
