<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="MovYardEquipmentTask2.aspx.vb" Inherits="WMS.MobileWebApp.MovYardEquipmentTask2" %>
<%@ Register TagPrefix="cc1" Namespace="WMS.MobileWebApp.WebCtrls" Assembly="WMS.MobileWebApp" %>
<%@ Register TagPrefix="cc2" Namespace="Made4Net.Mobile.WebCtrls" Assembly="Made4Net.Mobile" %>
<%@ Register TagPrefix="cc3" Namespace="Made4Net.WebControls" Assembly="Made4Net.WebControls" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Yard Equipment Move</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<div align="center">
			    <cc1:screen id="Screen1" runat="server" title="Yard Equipment Move" ScreenID="yardmovtask2"></cc1:screen>
			</div>
			<DIV align="center" width="100%">
			    <cc2:dataobject id="DO1" runat="server" LeftButtonText="Next" RightButtonText="Back" title="Yard Equipment Move"></cc2:dataobject>
			</DIV>
		</form>
	</body>
</HTML>
