<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="vrfi.aspx.vb" Inherits="WMS.MobileWebApp.vrfi" %>
<%@ Register TagPrefix="cc2" Namespace="Made4Net.Mobile.WebCtrls" Assembly="Made4Net.Mobile" %>
<%@ Register TagPrefix="cc1" Namespace="WMS.MobileWebApp.WebCtrls" Assembly="WMS.MobileWebApp" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Verification</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
    <body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<div align="center"><cc1:screen id="Screen1" runat="server" title="Verify LOAD" ScreenID="RDTVRF">
			</cc1:screen></div>
			<DIV align="center" width="100%"><cc2:dataobject id="DOVerify" runat="server" title="Verification"
			RightButtonText="Menu" LeftButtonText="Next"></cc2:dataobject></div>
    </form>
</body>
</HTML>
